body{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    flex-direction: column;
    background-color: #E2E2E2;
}

div{
    display: flex;
    align-items: center;
    
}
h1{
    font-size: 80px;
}